body{
    background-color:white;
}

header{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-around;
}

.logo{
    width: 200px;
}

.logo img{
    width: 200px;
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-links li a{
     display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    
}
.right{
    display: flex;
    gap: 100px;
    align-items: center;
}

.btns button{
    border: none;
    outline: none;
    background: transparent;
    align-content: center;
    color: white;
    border: 1px solid white;
    padding: 15px 23px;
    border-radius: 35%;
}
.btns{
    display: flex;
    gap: 10px;
    border-radius: 35px;
    align-items: center;
}

#Order{
    background-color: red;
}

i.red{
    color: red !important;
    background-color: white;
    padding: 10px;
}
